

.row {
    margin: 0px 10px 0px 10px;
}

body {
    background: url("../images/table2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}


.jumbotron {
    background: url("../images/jumbotron.gif");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    border-bottom: darkslategray 0.75px solid;
    padding-bottom: 100px;
}

.jumbotron h1 {
    font-size: 70px;
    font-family: 'Kodchasan', sans-serif;
    text-shadow: darkslategray 0px 0px 7px;
    
}

.jumbotron h3 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-shadow: darkslategray 0px 0px 6px;
    letter-spacing: 2px;
    
}

.card-header, .weatherCard, .message {
    background-color: rgb(59, 53, 47);
    color: rgb(250, 242, 170);
    font-family: 'Kodchasan', sans-serif;
    padding-top: 10px;
    border-top: rgba(255, 255, 255, 0.50) 1px solid;
    
}

.message {
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    font-size: 20px;
    
}

.form-inline { 
    display: inline;
    flex-flow: row wrap;
    align-items: center;
 }

 .form-inline input {
    vertical-align: middle;
 }





.weatherCard {
    border-radius: 5px;
    
    margin-bottom: 15px;
    padding-bottom: 10px;
    
}

.weather-display {
    margin: 40px 0px 20px 0px;
}



label, .severity-header {
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;  
}

.severity-header {
    margin-top: 10px;
}

form {
    padding-top: 10px;
}

.severity-score {
    font-size: 40px;
    color: white;
    font-family: 'Kodchasan', sans-serif;
    border: 1px rgba(255, 255, 255, 0.50) solid;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px 0px 10px 0px;
}


.card {
    border:  rgb(59, 53, 47) 0.75px solid;
}

.btn-link {
    color: rgb(250, 242, 170);
    font-family: 'Kodchasan', sans-serif;
    font-size: 20px;
    text-align: center !important;
    
    
}

.btn-link:hover {
    color: rgba(242, 159, 4, 1);
}

#submit-btn {
    background-color: rgb(59, 53, 47);
    border-top: rgba(255, 255, 255, 0.493) 2px solid;
    border-bottom: rgba(255, 255, 255, 0.20) 1px solid;
    border-left: none;
    border-right: none;
    margin-bottom: 15px;
    margin-top: -55px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#submit-btn:hover {
    background-color: rgba(242, 159, 4, 1);
 }

 #confirm-btn {
    background-color: rgb(59, 53, 47);
    border-top: rgba(255, 255, 255, 0.493) 2px solid;
    border-bottom: rgba(255, 255, 255, 0.20) 1px solid;
    border-left: none;
    border-right: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#confirm-btn:hover {
    background-color: rgba(242, 159, 4, 1);
 }

 .card-body {
     padding: 0px;
 }

 p, h5 {
     padding: 5px 5px 5px 5px;
     margin: 0px 10px;
 }

 p {
     padding-bottom: 10px;
 }

 h5, .message {
     color: rgb(251, 177, 40);
 }

 @media screen and (max-width: 400px) {
    .jumbotron h1 {
        font-size: 50px;
    }

    .jumbotron h3 {
        font-size: 15px;
    }

    .btn-link {
        font-size: 15px;
    }

 }

 #weather_image {
     width: 75px;
     height: auto;
 }

 img {
     max-height: 150px;
     width: auto;
     float: left;
     padding: 15px;
     
     
 }

 .icon {
     float: none !important;
     padding: none !important;
 }




